<div class="container">
  <h1 class="title">Tecnologías conocidas</h1>
  <div class="container py-5 main-container" style="max-width: 1200px;">
  <div class="row text-center">
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/rails.svg" alt="Icono 7" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">Ruby on Rails</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/typescript.svg" alt="Icono 8" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">TypeScript</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/js.svg" alt="Icono 9" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">JavaScript</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/angular.svg" alt="Icono 1" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">Angular</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/react.svg" alt="Icono 2" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">React</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/node.svg" alt="Icono 3" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">Node JS</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/java.svg" alt="Icono 4 " class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">Java</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/python.svg" alt="Icono 5" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">Python</p>
    </div>
    <div class="col-4  col-md-4  col-lg-4  skill-image">
      <img src="assets/images/postgresql.svg" alt="Icono 6" class="img-fluid" style="max-width: 70px;">
      <p class="skill-text">PostgreSQL</p>
    </div>
  </div>
</div>

</div>
