<h1 class="title">Contáctame!</h1>
<form class="container" action="https://formspree.io/f/xeoeoenk" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Tu correo</label>
    <input
      type="email"
      name="Email"
      id="email"
      class="form-control"
      placeholder="Ingresa tu correo"
      required
    />
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Mensaje</label>
    <textarea
      id="message"
      name="Message"
      class="form-control"
      rows="5"
      placeholder="Escribe tu mensaje"
      required
    ></textarea>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
