<div class="d-flex justify-content-center">
  <h1>Proyectos destacados</h1>
</div>
<div class="projects-container container py-5">
  <div (click)="goToGithub(project.githubUrl)" class="project-card" *ngFor="let project of projects">
    <img [src]="project.imageUrl" alt="{{ project.title }}" class="project-image" />
    <div class="project-info">
      <h3 class="project-title">{{ project.title }}</h3>
      <p class="project-description">{{ project.description }}</p>
    </div>
  </div>
</div>
